apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
- tools/vendor/github.com/openshift/cluster-capi-operator/manifests-gen

resources:
- ../config/default

images:
- name: gcr.io/k8s-staging-cluster-api-gcp/cluster-api-gcp-controller
  newName: registry.ci.openshift.org/openshift
  newTag: gcp-cluster-api-controllers

patches:
- path: ./patches/credentials.yaml
